Q1. What are data structures, and why are they important ?
  - A data structure is a way of organizing and storing data to enable     efficient access and modification. It serves as the foundation for designing algorithms and managing data in computer programs.
  It is important because Data structures are important because they optimize data organization and access, improving program efficiency. They are essential for solving computational problems and designing effective algorihm

Q2.  Explain the difference between mutable and immutable data types with examples
  - Mutable means an object can be changed or modified after it is created.
      Immutable means an object can not be change or modified after once it created.  
    
Q3. What are the main differences between lists and tuples in Python ?

 - The main difference is that lists are mutable, meaning their elements can be modified, while tuples are immutable, meaning they cannot be changed after creation. Additionally, lists are slower but more versatile, whereas tuples are faster and we can use tuple where we never want change that object once created.

Q4. Describe how dictionaries store data ?
 - A dictionary in Python stores data as key-value pairs using a hash table internally. Keys are hashed to compute an index, enabling fast access, insertion, and deletion.

Q5. Why might you use a set instead of a list in Python ?

  - You might use a set instead of a list when you need to store unique elements and perform fast membership checks. Sets are optimized for operations like unions, intersections, and differences, unlike lists which allow duplicates and require more time for such operations.

Q6. What is a string in Python, and how is it different from a list ?

  - A string in Python is an immutable sequence of characters, meaning it cannot be changed after creation. Unlike a list, which is mutable and can hold various data types, a string can only hold characters and is optimized for text processing.

Q7. How do tuples ensure data integrity in Python ?
   
  - Tuples ensure data integrity by being immutable, meaning their elements cannot be altered after creation. This makes them ideal for storing fixed collections of data where consistency is crucial.


Q8. What is a hash table, and how does it relate to dictionaries in PythonS ?
    
  - A hash table is a data structure that maps keys to values using a hash function for fast data retrieval. In Python, dictionaries are built on hash tables, enabling efficient storage and quick lookups for key-value pairs  

Q9. Can lists contain different data types in Python ?
  
  - Yes, lists in Python can contain elements of different data types, such as integers, strings, floats, or even other lists and objects, all within the same list

Q10. Explain why strings are immutable in Python ?

   - Strings are immutable in Python to ensure memory efficiency and security, as they are widely used and often shared between variables. Immutability allows Python to reuse string objects, reducing memory usage and preventing accidental changes.

Q11. What advantages do dictionaries offer over lists for certain tasks ?

   - Dictionaries offer the following advantages over lists for certain tasks:
   Key-Value Pair Storage: They allow associating unique keys with values, enabling more intuitive and structured data organization compared to lists.
   Efficient Updates: Modifying or adding entries in a dictionary is faster and more straightforward than in a list where positional indexing is required.

Q12. Describe a scenario where using a tuple would be preferable over a list.

   - Using a tuple is preferable when you need to store a collection of values that should not be modified, such as coordinates (x, y) or constant configuration settings.

Q13. How do sets handle duplicate values in Python ?
   
   - Sets in Python automatically remove duplicate values because they only allow unique elements. If you try to add a duplicate value, it will simply be ignored

Q14. How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries ?

   - The "in" keyword works differently for lists and dictionaries:

  For lists, it checks if a specific element is present in the list. For example, 3 in [1, 2, 3] returns True because 3 is an element in the list.

  For dictionaries, it checks if a specific key exists in the dictionary. For example, 'name' in {'name': 'Alice', 'age': 25} returns True because 'name' is a key in the dictionary

Q15. Can you modify the elements of a tuple? Explain why or why not.

   - No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability ensures data integrity and can improve performance, as Python can optimize memory usage by reusing tuples

Q16. What is a nested dictionary, and give an example of its use case ?

   - A nested dictionary is a dictionary where the values are other dictionaries, enabling hierarchical data storage. For example, in a student record system, you can store student details and their courses in a nested dictionary like {'student1': {'name': 'Alice', 'courses': ['Math', 'Science']}}.

Q17. Describe the time complexity of accessing elements in a dictionary ?
   
   - Accessing elements in a dictionary has an average time complexity of
  ùëÇ(1) because dictionaries use a hash table to map keys to values. However, in the worst case (e.g., hash collisions), the time complexity can degrade to 0(ùëõ).

Q18. In what situations are lists preferred over dictionaries ?
   
   - Lists are preferred over dictionaries in the following situations.
   sequential data,index based access,allowing dublicates,lightweight storage,iterative operation.

Q19. Why are dictionaries considered unordered ?
   
   - Dictionaries in Python are considered unordered because their elements (key-value pairs) are not stored in a specific sequence based on their insertion order. Instead, they are arranged internally based on the hash of their keys for efficient lookups. However, starting from Python 3.7, dictionaries preserve insertion order as an implementation detail, but this behavior is not fundamental to how dictionaries work.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

   - List: A list is like a row of items lined up in order. To get an item, you need to know its position (called an index). The items are numbered starting from 0. For example, if you want the first item, you use index 0.

  Example: my_list = [10, 20, 30]
  To get the second item: my_list[1] (which gives you 20)
  Dictionary: A dictionary is like a list, but instead of using numbers (indexes), you use names or labels (called keys) to get the items. Each item has a key that helps you find it.

  Example: my_dict = {'a': 10, 'b': 20, 'c': 30}
  To get the value associated with 'b': my_dict['b'] (which gives you 20)
  Key Difference:
  List: You find things by position (like 1st, 2nd, 3rd, etc.).
  Dictionary: You find things by name (like 'a', 'b', 'c', etc.).

In [1]:
# Q1. Write a code to create a string with your name and print it.

a="adil"
a

'adil'

In [6]:
#Q2. Write a code to find the length of the string "Hello World".

h="hello world"
len(h)              # Getting length from given word.

11

In [7]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming".

s="python programming"
s[0:3]                     # Slicing

'pyt'

In [8]:
# Q4. Write a code to convert the string "hello" to uppercase.

a="hello"
a.upper()              # Lowercase word convert to uppercase.

'HELLO'

In [12]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

s="i like apple"
print(s)                                    # Before replace
print(s.replace("apple","orange"))          # After replace

i like apple
i like orange

In [13]:
# Q6.  Write a code to create a list with numbers 1 to 5 and print it.

l=(1,2,3,4,5)
l                   # Print list

(1, 2, 3, 4, 5)

In [18]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

n=[1,2,3,4]
print(n)
n.append(10)            # Append 10 to given number in list.
print(n)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [17]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

c=[1,2,3,4,5]
print(c)
c.remove(3)       # Remove 3 from given number in list.
print(c)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [19]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

l=["a","b","c","d"]
print(l)
print(l[1])              # Accessing second letter from list.

['a', 'b', 'c', 'd']
b

In [22]:
# Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

a=[10,20,30,40]
print(a)
a.reverse()         # Reversing the list.
print(a)

[10, 20, 30, 40]
[40, 30, 20, 10]

In [26]:
# Q11.  Write a code to create a tuple with the elements 10, 20, 30 and print it.

t=(10,20,30)           # Creating tuple.
t

(10, 20, 30)

In [27]:
# Q12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

t=("Apple","banana","cherry")
print(t)
print(t[0])                    # Accessing the 1st index of the tuple.

('Apple', 'banana', 'cherry')
Apple

In [28]:
# Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
T=(1, 2, 3, 2, 4, 2)
T.count(2)            # Counting appearence of the 2

3

In [29]:
# Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a=("dog","cat","rabbit")
a.index("cat")            #checking the index of cat

1

In [31]:
# Q15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
t=('apple', 'orange', 'banana')
"banana" in t           # Checking banana in t or not

True

In [32]:
# Q16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
S={1, 2, 3, 4, 5}
print(S)          # Creating set and printing it

{1, 2, 3, 4, 5}

In [33]:
# Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

a={1,2,3,4}
print(a)
a.add(6)
print(a)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}

In [34]:
# Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

t=(10, 20, 30)
print(t)             # Cresting tuple and printing it

(10, 20, 30)

In [35]:
# Q19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

t=('apple', 'banana', 'cherry')
print(t)
print(t[0])                # Accessing 1st element of tuple.

('apple', 'banana', 'cherry')
apple

In [36]:
# Q20.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

T=(1, 2, 3, 2, 4, 2)
T.count(2)            # Counting appearence of the 2

3

In [37]:
# Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

q= ('dog', 'cat', 'rabbit')
print(q)
q.index("cat")

('dog', 'cat', 'rabbit')

1

In [38]:
# Q22.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana).

t=('apple', 'orange', 'banana')
"banana" in t           # Checking banana in t or not

True

In [40]:
# Q23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

S={1, 2, 3, 4, 5}
S                       # Creating set and printing it

{1, 2, 3, 4, 5}

In [41]:
 # Q24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

 A={1, 2, 3, 4}
 print(A)
 A.add(6)                    # Adding 6 to the set
 print(A)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}